::-webkit-scrollbar {
    width: 0;
}

* {
    margin    : 0;
    padding   : 0;
    margin-top: 0vh;
    overflow-x: hidden;
}

.background {
    position        : relative;
    height          : 100%;
    width           : 100vw;
    background-color: #131e2a;
    background-image: linear-gradient(#183651, #1a609e, #00a3b9, #22d3cd);
}

.heading {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;
    align-items    : flex-start;
    align-content  : flex-start;
    text-align     : center;
    margin-top     : 1vh;
    margin-right   : 25vw;
    margin-left    : 25vw;
    color          : #F4EFEA;
    font-family    : "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    row-gap        : 10px;
    transition     : 200ms;
}

.heading:hover {
    color              : red;
    /* background-color: chartreuse; */
    transition         : 200ms;
}

.lorem {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;
    align-items    : flex-start;
    align-content  : flex-start;
    text-align     : center;
    margin-right   : 10px;
    margin-top     : 1vh;
    color          : #F8F8F2;
    font-family    : "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    row-gap        : 10px;
}

.image {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;
    align-items    : flex-start;
    align-content  : flex-start;
    gap            : 10px 10px;
    margin         : 2%;
}

image:hover {
    background-color: #F4EFEA;
}

ul {
    list-style-type : none;
    margin          : 0;
    padding         : 0;
    overflow        : hidden;
    background-color: #28475d;
}

li {
    float: left;
}

li a {
    display            : block;
    color              : #ffffff;
    text-align         : center;
    padding            : 14px 16px;
    text-decoration    : none;
    font-family        : "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    transition-duration: 200ms;
}

li a:hover {
    background-color   : #376281;
    color              : white;
    text-decoration    : underline;
    transition-duration: 200ms;
}

.motivation {
    width          : 50%;
    margin         : 25%;
    margin-top     : 5%;
    margin-bottom  : 0%;
    border         : 9px double white;
    /* border-style: ridge; */
}

.background-dark {
    position        : relative;
    height          : 100vw;
    width           : 100vw;
    background-color: #131e2a;
}