* {
    margin             : 0;
    padding            : 0;
    /* background-color: hsl(30, 4%, 27%); */
    margin-top         : 0vh;
    overflow-x         : hidden;
}

.background {
    position        : relative;
    height          : 100%;
    width           : 100vw;
    background-color: #1a609e;
    background-image: linear-gradient(#324a5f, #1a609e, #00a3b9, #22d3cd);
    z-index         : -1;

}

.heading {
    margin-top     : 1vh;
    color          : #F4EFEA;
    font-family    : "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    display        : flex;
    justify-content: center;
    align-items    : center;
    text-align     : center;
}

.lorem {
    margin-top     : 1vh;
    color          : #F4EFEA;
    font-family    : "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    display        : flex;
    justify-content: center;
    align-items    : center;
    text-align     : center;
}

.image {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;
    align-items    : flex-start;
    align-content  : flex-start;
    gap            : 10px 10px;
    margin: 2%;
}